@{
    ViewData["Title"] = "Btdytt520 HotClick";
}
@model List<Dy2018CrawlerWithDB.Models.MovieInfo>

<div class="row">
    <div class="col-md-8">
        <h2>Btdytt520 HotClick List</h2>
        <ul>
            @foreach (var movie in Model)
            {
                <li><a href="@(Url.Action("ShowMoiveDetail")+"?onlineURL="+@movie.OnlineUrl)" target="_blank">
                    @movie.MovieName </a>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-4">
        <h2>DownLoadURL</h2>
        <ul>
            @foreach (var movie in Model)
            {
                <li>
                    <a href="@movie.OnlineUrl" target="_blank">
                        @movie.OnlineUrl
                    </a>
                </li>
            }
        </ul>
    </div>

 </div>


