@{
    ViewData["Title"] = "Home Page";
}
@model List<Dy2018Crawler.Models.MovieInfo>

<div class="row">
    <div class="col-md-5">
        <h2>Movie List</h2>
        <ul>
            @foreach (var movie in Model)
            {
                <li><a href="@movie.Dy2018OnlineUrl">@movie.MovieName</a></li>
            }
           
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
           
        </ul>
    </div>
</div>
