@{
    ViewData["Title"] = "Dy2018";
}
@model List<Dy2018Crawler.Models.MovieInfo>

<div class="row">
    <div class="col-md-5">
        <h2>Movie List</h2>
        <ul>
            @foreach (var movie in Model)
            {
                <li><a href="@movie.Dy2018OnlineUrl" target="_blank">@movie.MovieName</a></li>
            }
           
        </ul>
    </div>
    <div class="col-md-9">
        <h2>DownLoadURL</h2>
        <ul>
           @foreach (var movie in Model)
            {
            <li><a href="@movie.XunLeiDownLoadURLList.FirstOrDefault()" target="_blank">@movie.XunLeiDownLoadURLList.FirstOrDefault()</a></li>
           }
        </ul>
    </div>
</div>
