@{
    ViewData["Title"] = "Movie Info";
}
@model Dy2018Crawler.Models.MovieInfo
@if (Model != null)
{
    <h2>@Model.MovieName</h2>
    <p>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.MovieIntro))</p>
}
else
{
    <h2>无此数据...</h2>
}
